@model Attendance.Models.Viewmodel.ChangePasswordViewmodel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_master.cshtml";
}

<link href="/Content/Changepassword.css" rel="stylesheet" id="bootstrap-css">
@*<link href="/Content/home.css" rel="stylesheet" id="bootstrap-css">*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class=" content">
        <div class="screen">
            <div class="login-form">
                <div class="main-div" style="padding: 50px 70px 70px 71px;">
                    <div class="panel">
                        <p style="font-size:20px;color:black">Change Password</p>
                    </div>
                    @Html.ValidationSummary(true)
                    <div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", @placeholder = "Current Password" })
                            @Html.ValidationMessageFor(model => model.CurrentPassword)

                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(model => model.NewPassword)

                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.ConfirmNew, new { @class = "form-control", @placeholder = "Confirm Password"})
                            @Html.ValidationMessageFor(model => model.ConfirmNew)

                        </div>
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                        <div>
                            <br />    
                            @ViewBag.Message                       
                        </div>
                    </div>
                </div>

            </div>           
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}


